

<nav class="navbar dark-mode" role="navigation">
  <div class="navbar__logo"> <img class="logo" src="../../../assets/images/logo.png" alt=""></div>
  <ul class="navbar__links">
    <li class="navbar__link first"><a routerLink="">About</a></li>
    <li class="navbar__link second"><a routerLink="">Skills</a></li>
    <li class="navbar__link third"><a routerLink="">projects</a></li>
    <li class="navbar__link four"><a routerLink="">contact</a></li>
  </ul>
  <button class="burger">
    <span class="bar"></span>
  </button>
</nav>

